/**************************setting text***************************/

.tableContainer body {
  font-family: var(--fontSetting) !important;
}

.tableContainer {
  font-family: var(--fontSetting) !important;
  font-size: var(--fontSizeText);
  font-weight: var(--fontWeightText);
  @media screen and (max-width: $breakup) {
    font-size: 14px;
  }
}

.header {
  font-size: var(--fontSizeThead);
  font-weight: var(--fontWeightThead);
  color: var(--fontColorThead);

  @media screen and (max-width: $breakup) {
    font-size: 14px;
  }
}

.btnpaging {
  font-family: var(--fontSetting, sans-serif);
  font-size: var(--fontSizePaging);
  font-weight: var(--fontWeightPaging);
  color: var(--fontColorPaging);

  @media screen and (max-width: $breakup) {
    font-size: 13px;
  }
}

.dropdown,
.forminput,
.forminput::placeholder {
  font-size: 16px;
  color: $grey;

  @media screen and (max-width: $breakup) {
    font-size: 13px;
  }
}
