/***************************Setting colors***************************/
$white: #ffffff;
$black: #000000;
$grey: #6a6a6a;
$boxShadowGrey: #cccccc;
//text
$textBlack: #151414;
$textLightGrey: #e8e8e8;
$textGrey: #9b9eac;
$textDarkGrey: #74798c;
$textRed: #ff0101;
$textLightBlack: #20253a;
$textBlack: #282d30;
$textGreen: #53bb62;
$textdarkGreen: #01420b;
$textlightGreen: #53bb62;
//background
$backgroundWhite: #fffefe;
$backgroundLightGrey: #f0eeee;
$backgroundDarkGreen: #5cc36c;
$backgroundGreen: #72d683;
$backgroundlightGreen: #c2fbcc;

//component default color
:root {
  --theadcolor: #909090;
  --firstfieldcolor: #ffffff;
  --secondfieldcolor: #cfcfcf;
  --pagingcolor: #909090;
  --checkedbtn: #545353;
}
/*************************breakup**************************/
$breakup: 636px;
