/***************************Setting colors***************************/
$white: #ffffff;
$black: #000000;
$grey: #6a6a6a;
$boxShadowGrey: #cccccc;
//text
$textBlack: #151414;
$textLightGrey: #e8e8e8;
$textGrey: #9b9eac;
$textDarkGrey: #74798c;
$textRed: #ff0101;
$textLightBlack: #20253a;
$textBlack: #282d30;
$textGreen: #53bb62;
$textdarkGreen: #01420b;
$textlightGreen: #53bb62;
//background
$backgroundWhite: #fffefe;
$backgroundLightGrey: #f0eeee;
$backgroundDarkGreen: #5cc36c;
$backgroundGreen: #72d683;
$backgroundlightGreen: #c2fbcc;

//component default setting
:root {
  //font
  --fontSetting: "sans-serif";
  --fontSizeText: 16px;
  --fontWeightText: 500;
  --fontColorText: #000000;
  --fontSizeThead: 17px;
  --fontWeightThead: 500;
  --fontColorThead: #ffffff;
  --fontSizePaging: 15px;
  --fontColorPaging: #ffffff;
  --fontWeightPaging: 500;
  //color
  --theadcolor: #72d683;
  --firstfieldcolor: #ffffff;
  --secondfieldcolor: #c2fbcc;
  --pagingcolor: #72d683;
  --checkedbtn: #5cc36c;
  //sizing
  --arrayWidth: 90%;
  --tdPadding: 6px 8px;
  --entriesInput: 100px;
  --searchInput: 200px;
}

/*************************breakup**************************/
$breakup: 636px;
