.tableContainer {
  max-width: 1400px;
  width: var(--arrayWidth);
  overflow-x: auto;
  padding: 0 25px;

  @media screen and (max-width: $breakup) {
    padding: 0 10px;
    width: 98%;
  }

  .tableHeader {
    @include direction-row;
    gap: 50px;
    margin: 10px 0;

    @media screen and (max-width: $breakup) {
      @include direction-column-flex-start;
      gap: 15px;
    }
  }
}
